pandas
numpy
openpyxl
seaborn
networkx
plotly
matplotlib
ipywidgets
ipython
kaleido
scikit-learn>=1.5.0
umap-learn
scipy
statsmodels
joblib
natsort
pyarrow
dash
dash-bootstrap-components
keras
python-louvain